.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* 반투명한 배경 */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background-color: white;
  width: 40%;
  height: 50%;
  padding: 40px;
  border-radius: 4px;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.line {
  border: none;
  border-top: 1px solid #a9a3a3;
}

.inputGroupName {
  background-color: #8221FE;
  opacity: 10%;
  width: 200px;
  height: 50px;
  border-radius: 1rem;
  border: none;
}

.GroupEmail {
  font-size: medium;
  font-weight: lighter;
}
.inputGroupEmail {
  background-color: #8221FE;
  opacity: 10%;
  width: 200px;
  height: 50px;
  border-radius: 1rem;

}

.buttonGroupEmail {
  background-color: #8221FE;
  color: white;
  border: none;
  border-radius: 2rem;
}

.buttonSubmit {
  background-color: #8221FE;
  color: white;
  border: none;
  border-radius: 2rem;
}