/* Tab2_DS.css (DS for District Selected) */
/* Tab2.css */
.Tab2_DS {
    position: relative;
    left: 0px;
    width: 250px;
    margin-left: -20px;
    padding-left: 20px;
    height: 100%;
    background-color: #ffffff;
    z-index: 0;
    display: flex;
    flex-direction: column;
    border-radius: 0px 20px 20px 0px;
    box-shadow: 0.2px 0.2px 15px gray;
    overflow-y: auto;
  }
  
  .Tab2_DSItem {
    padding: 5px;
    margin-left: 5px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(130, 33, 254, 0.25);
    cursor: pointer;
    font-size:large;
  }
  
  .Tab2_DSContents {
    margin: 10px 0px 20px 0px;
    height: auto;
    background-color: #ffffff;
    
  }

  .Tab2_DSText {
    color: gray;
    padding: 10px 0px 0px 15px;
    font-size: small;
  }

  .Tab2_DSTextbox {
    margin: 10px 15px 0px 15px;
    height: 35px;
    width: 210px;
    font-size: x-small;
    padding-left: 10px;
    background-color: rgba(130, 33, 254, 0.1);
    border: 0px solid;
    border-radius: 7px;
  }

  .ImageComponentContainer {
    display: flex;
    flex-wrap: wrap; /* 이미지가 한 줄에 2개씩 배치하고 아래로 추가될 수 있도록 설정 */
    align-items: center;
    justify-content: space-between; /* 이미지 간격을 조절합니다 */
  }
  
  .ImageComponentContainer input[type="file"] {
    margin-bottom: 10px;
  }
  
  .ImageComponentContainer img {
    max-width: 93%; /* 이미지의 최대 너비를 조절하여 한 줄에 2개씩 보이도록 설정 */
    height: auto;
    box-shadow: 0px 0px 7px rgb(161, 161, 161);
    
  }


  .image-list {
    display: flex; /* 이미지 아이템을 가로로 나열하도록 설정 */
    flex-wrap: wrap; /* 너비가 넘칠 경우 줄 바꿈 설정 */
    justify-content: space-between; /* 각 아이템을 가로 방향으로 균등하게 분할하여 정렬 */
    
  }
  
  /* 이미지 아이템의 스타일을 설정합니다 */
  .image-item {
    width: calc(50% - 12px); /* 한 줄에 2개의 이미지이므로 50%의 너비 설정 */
    margin: 6px; /* 이미지 아이템 주위에 간격을 줍니다 */
    box-sizing: border-box; /* 패딩과 경계선을 포함한 전체 너비로 설정 */
    text-align: center; /* 이미지와 이름을 중앙 정렬합니다 */
    
    
  }
  
  /* 이미지의 최대 높이를 설정합니다 */
  .image-item img {
    max-height: 200px; /* 이미지의 최대 높이를 설정합니다 */
    width: auto; /* 너비를 자동으로 조절하여 비율을 유지합니다 */
    
  }
  
  /* 이미지 이름의 스타일을 설정합니다 */
  .image-name {
    font-size: 11px; /* 이미지 이름의 글씨 크기를 조절합니다 */
    margin-top: 4px; /* 이미지와 이름 사이의 간격을 조절합니다 */
  }

/* ImageComponent.css */
.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}



.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  max-width: 800px; /* 최대 너비 */
  width: 90%; /* 너비 */
  max-height: 80vh; /* 최대 높이 */
  overflow-y: auto; /* 스크롤 가능하도록 설정 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.modal-title {
  width: 100%;
  font-size:20px;
  font-weight: bold;
  padding: 5px;
  
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(130, 33, 254, 0.25);
}

.modal-close {
  cursor: pointer;
  font-size: 25px;
  border: none;
  color: #000000;
  background-color: transparent;
  
}



.modal-image-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.modal-image-item {
  position: relative;
  width: calc(16.66% - 10px); /* 가로로 한 줄에 약 6개, 간격 포함 */
  text-align: center;
}

.modal-image-item img {
  max-width: 100%;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.modal-image-name {
  font-size: 12px;
  margin-top: 5px;
}

.modal-image-delete {
  position: absolute;
  top: -5px; /* 기존 값: 5px */
  right: -5px; /* 기존 값: 5px */
  font-size: 18px;
  color: #666;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.tab-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  margin-right: 10px;
}

.edit-button-container {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-top: 10px;
  flex-shrink: 0; /* 수정 버튼이 넘치지 않도록 설정 */
}

.edit-button {
  margin-left: 110px;
  margin-top: 9px;
  height: 25px;
  text-align: center;
  font-size: x-small;
  background-color: #8221FE;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.confirmodal{
  font-size: small;
  width: 79px;
  height: 28px;
  border: none;
  background-color: #8221FE;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.confirmodal:hover {
  background-color: #6A0ECD;
}

  .file-input-container {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
   
  }
  
  .file-input-label {
    font-size: small;
    padding: 5px 10px;
    font-size: 14px;
    background-color: #8221FE;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .file-input-label:hover {
    background-color: #6A0ECD;
  }
